environment.env
/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
/documents
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/debugbar
/public/fonts/vendor/font-awesome/*
/.idea
/.vagrant
public/js/*.js
public/css/*.css

database/\.DS_Store

database/seeders/CurrentSeed.php


public/css/
public/js/

\.DS_Store
